.grouping-cont {
  color: #fff;
  font-weight: 600;
}

.sidexside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.video-grouping {
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
  0 8px 16px rgba(0, 0, 0, 0.1);
}